# CMS APACHE HTACCESS FILE


Options FollowSymLinks
RewriteEngine On

<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off

RewriteBase /~richard/cms/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
	
RewriteRule ^(.+)$                    index.php?path=$1  [QSA,L]
