## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
#Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess files
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

RewriteEngine on

RewriteBase /~Richard/fusion/

php_flag magic_quotes_gpc off
php_flag register_globals 0
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d	
RewriteRule ^(.*)$                      index.php?page=$1  [QSA,L]

### XDEBUG Settings

php_flag xdebug.default_enable on
php_flag xdebug.auto_trace On
php_value xdebug.collect_params 1
#php_flag xdebug.collect_return On
php_value xdebug.trace_output_dir "C:\Users\Richard\Documents\Coding\XDebug\fusion"
php_value xdebug.trace_output_name fusion_%u_%R