@CHARSET "UTF-8";

/** Main Styles **/

body {
	margin: 0;
	padding: 0;
	background: #dddddd;
	font-size: 85%;
	font-family: Arial, sans-serif;
}

h1 {
	margin: 0;	
}

/** Page **/

div.page-blocks, div.page-main {
	border: thin black solid;
	background: white;
	margin: 2em;
	padding: 1em;
}

div.page-blocks-left {
	float: left;
}
div.page-blocks-right {
	float: right;
}

/** Content **/

div.content-text {
	margin-top: 1em;
}

/** Form **/

div.form {
	margin: 1em;
	padding: 1em;
	border: thin #aaaaaa solid;
}

div.form form {
	margin: 0;
	padding: 0;
}

div.form div.form-field {
	width: 100%;
	display: block;
	float: left;
}

div.form div.form-field-label {
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	display: block;	
	text-align: right;
}

div.form div.form-field-label label {
	font-weight: bold;
	margin: 1em;
	display: block;
}

div.form div.form-field-input {
	width: 70%;
	float: left;	
}

div.form div.form-field-input input{
	margin: 0.6em;
	padding: 0.4em;
}

div.form div.form-field-submit div.form-field-input {
	width: 60%;
	float: left;
	text-align: center;	
}

div.form div.form-field-submit div.form-field-input input{
	margin: 0.6em;
	padding: 0.4em;
	font-weight: bold;
}
