@charset "UTF-8";

/** Main Styles **/

a {
	text-decoration: none;
}

pre {
	font-size: 1.15em;
}

body {
	margin: 0;
	padding: 0;
	background: #dddddd;
	font-size: 85%;
	font-family: Arial, sans-serif;
}

h1, h2 {
	margin: 0;	
}

/** TinyMCE Filebrowser **/

div.tinymce-files div.tinymce-files-list {
	float: left;
	width: 35%;
	padding: 0;
	margin: 0;
	margin-top: 1em; 
}

div.tinymce-files div.tinymce-files-show {
	float: right;
	width: 65%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-top: 1em; 
}

div.tinymce-files div.tinymce-files-show-inner {
	border: thin solid #999999;
	padding: 0.5em;
	overflow: hidden;
	margin: 0.5em;
}

div.tinymce-files div.tinymce-files-list ul {
	list-style-type: none;
	margin: 0.5em;
	border: thin solid #999999;
	padding: 0.5em;
}

div.tinymce-files div.tinymce-files-list ul li {
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	font-size: 0.85em;
	background: white;	
}

div.tinymce-files div.tinymce-files-show div.tinymce-image-files ul {
	list-style: none;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 1em;
}

div.tinymce-files div.tinymce-files-show div.tinymce-image-files ul li {
	float: left;
	list-style: none;
	margin: 0 0 0 0;
	padding: 1em;
	background: #dddddd;
	border: thin solid #777777;
	display: block;
	overflow: hidden;
	text-align: center;
	color: #333333;
}

div.tinymce-files div.tinymce-files-show div.tinymce-image-files ul li img {
	width: 100%;
	margin-bottom: 1em;
	border: thin solid #555555;
}

/** Page **/

div.page-blocks, div.page-main {
	border: thin black solid;
	background: white;
	margin: 2em;
	padding: 1em;
	overflow: hidden;
}

div.page-inline div.page-main {
	margin: 0.5em;
	padding: 0.5em;	
}

div.page-blocks-left {
	float: left;
	width: 20%;
}
div.page-blocks-right {
	float: right;
	width: 20%;
}

/** Content **/

div.content-text, div.image-text {
	margin-top: 1em;
}

/** Image **/

div.image-files ul {
	list-style: none;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 1em;
}

div.image-files ul li {
	float: left;
	list-style: none;
	margin: 0 0 0 0;
	padding: 1em;
	background: #dddddd;
	border: thin solid #777777;
	display: block;
	overflow: hidden;
	width: 20%;
	text-align: center;
	color: #333333;
}

div.image-files ul li img {
	width: 100%;
	margin-bottom: 1em;
	border: thin solid #555555;
}

div.image-file img {
	height: 200px;
	margin: auto;
	display: block;
	padding: 0.5em;
}

div.image-file div.image-file-info {
	padding: 1em;
	margin: 1em;
	border: thin solid #aaaaaa;
	overflow: hidden;	
}


/** File **/

div.file dl {
	border: thin solid #aaaaaa;
	padding: 1em;
	overflow: hidden;
}

div.tinymce-files div.tinymce-files-show dl dt, div.image-file dl dt, div.file dl dt {
	float: left;
	width: 20%;
	margin: 0.5em;
	font-weight: bold;
}

div.tinymce-files div.tinymce-files-show dl dd, div.image-file dl dd, div.file dl dd {
	float: right;
	width: 75%;
	margin: 0.5em;
	text-align: left;
}

/** Form **/

div.form {
	margin: 1em;
	padding: 1em;
	border: thin #aaaaaa solid;
}

div.form form {
	margin: 0;
	padding: 0;
}

div.form ol {list-style: none;}
div.form ol li {list-style: none; margin-bottom: 1em; clear: left;}

div.form {}
div.form label {float: left; width: 8%; text-align: right; margin-right: 1em;}
div.form div.form-field-submit { display: block; text-align: center; margin: auto; }
