body {
  background-color: #E0E0E0;
  margin: 0.75em;
  font-size: 0.75em;
}

body, textarea, input, select {
  font-family: Verdana, Arial, sans-serif;
}

pre {
  font-family: monospace;
}

div.zone {
  border: #C0C0C0 1px solid;
  background-color: white;
  clear: both;
  float: left;
}

div.zone_inner {
  padding: 0.1em;
}

div.zone_outer {
  border: black;
  margin: 0.25em;
}

div.block {
  border: #D0D0D0 1px solid;
}

div.block_inner {
  padding: 0.5em;
}

div.block_outer {
  border: black;
  margin: 0.5em;
}

div.block_modes {
  float: right;
  margin-bottom: 0.1em;
}

div.block_modes ul {
  margin: 0;
  margin-top: 0.25em;
  padding: 0;
}

div.block_modes ul li {
  display: inline;
}

div.block_modes ul li a {
  background: black;
  color: white;
  padding: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.25em;
}

div.block_modes ul li a:hover, div.block_modes ul li a.selected {
  color: black;
  background: white;
}

div.block_modes ul li a.selected:hover {
  color: white;
  background: black;
}

div.block_title h1 {
  float: left;
}

div.block_title {
  padding-bottom: 0.25em;
  border-bottom: #D0D0D0 1px solid;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.7em;
  margin: 0;
}

/** FORM API **/

div.form_field label {
  font-weight: bold;
  float: left;
  margin: 0.85em;
  margin-left: 0;
  margin-right: 1em;
}

div.form_field input {
  float: left;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.25em;
  margin-left: 0;
}

div.form_field textarea {
  border: 1px solid black;
  width: 100%;
  padding: 0.5em;
  margin: 0.25em;
  margin-left: 0;
  height: 7em;
  font-size: 1em;
}

div.form_field_submit input {
  background: white;
  border: 2px black solid;
  font-weight: bold;
  padding: 0.25em;
}

input.form_field_error, textarea.form_field_error {
  background: #FF6666;
}

